@model CvSitesi.Models.Entity.Tbl_Admin
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Admin Güncelleme Sayfası</h3>
</div>
@using (Html.BeginForm("Guncelle", "Admin", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Id:</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Ad:</label>
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Soyad:</label>
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Mail:</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Kullanıcı Adı:</label>
        @Html.TextBoxFor(x => x.Kullaniciadi, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Şifre:</label>
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Admin Güncelle</button>
    </div>
}
