@model CvSitesi.Models.Entity.Tbl_Deneyimlerim
@{
    ViewBag.Title = "DeneyimGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h2>Deneyim Güncelleme Sayfası</h2>
</div>
@using (Html.BeginForm("DeneyimGuncelle", "Deneyim", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Id:</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Deneyim Ad:</label>
        @Html.TextBoxFor(x => x.DeneyimAd, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Ünvan:</label>
        @Html.TextBoxFor(x => x.Unvan, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>İçerik:</label>
        @Html.TextAreaFor(x => x.İcerik, new { @class = "form-control", @required = "required" , @style = "height:150px;" })
    </div>
    <div style="margin-top:20px;">
        <label>Tarih:</label>
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Deneyim Güncelle</button>
    </div>
}

