@model CvSitesi.Models.Entity.Tbl_Projelerim
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Proje Güncelleme Sayfası</h3>
</div>
@using (Html.BeginForm("Guncelle", "Proje", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Id:</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" ,@readonly="readonly"})
    </div>
    <div style="margin-top:20px;">
        <label>Proje Adı:</label>
        @Html.TextBoxFor(x => x.Projeadi, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Link:</label>
        @Html.TextBoxFor(x => x.Link, new { @class = "form-control" ,@required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Açıklama:</label>
        @Html.TextAreaFor(x => x.Açıklama, new { @class = "form-control", @required = "required" , @style="height:100px;"})
    </div>
    <div style="margin-top:20px;">
        <label>Tarih:</label>
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" , @required="required" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Proje Günelle</button>
    </div>
}