@model CvSitesi.Models.Entity.Tbl_Yetenek
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Yetenek Güncellem Sayfası</h3>
</div>
@using (Html.BeginForm("Guncelle", "Yetenek", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Id:</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" , @readonly="readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Yetenek Adı:</label>
        @Html.TextBoxFor(x => x.Yetenekad, new { @class = "form-control"})
        @Html.ValidationMessageFor(x => x.Yetenekad, "", new { @style = "color:blue;" })
    </div>
    <div style="margin-top:20px;">
        <label>Oran:</label>
        @Html.TextBoxFor(x => x.oran, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.oran, "", new { @style = "color:blue;" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Yetenek Güncelle</button>
    </div>
}
